In [1]:
# Declare an empty list

empty_lst = list()
empty_lst

[]

In [5]:
# Declare a list with more than 5 items

lang = ['HTML' , 'JAVA' , 'JS' , 'CSS' , 'PYTHON' , 'REACT' ,'C']
lang

['HTML', 'JAVA', 'JS', 'CSS', 'PYTHON', 'REACT', 'C']

In [6]:
# Find the length of your list

print(len(lang))

7

In [13]:
# Get the first item, the middle item and the last item of the list

print(lang[0])
print(lang[3])
print(lang[-1])

HTML
CSS
C

In [15]:
# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

name = 'Bhawna'
age = 20
height = 4.10
marital_status = 'Single'
address = 'Himachal Pradesh'
mixed_data_types = [name , age , height , marital_status , address]
mixed_data_types

['Bhawna', 20, 4.1, 'Single', 'Himachal Pradesh']

In [220]:
# Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon

it_companies =['Facebook' , 'Google' , 'Microsoft' , 'Apple' , 'IBM' , 'Oracle' , 'Amazon']

In [221]:
# Print the list using print()


print(len(it_companies))

7

In [222]:
# Print the number of companies in the list

print('The number of companies in the list:', len(it_companies))

The number of companies in the list: 7

In [223]:
# Print the first, middle and last company

print(it_companies[0::3])

['Facebook', 'Apple', 'Amazon']

In [224]:
# Print the list after modifying one of the companies


it_companies[0] = 'Amazon'
it_companies[-1] = 'Facebook'
it_companies

['Amazon', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Facebook']

In [225]:
# Add an IT company to it_companies

it_companies.append('IT company')
print(it_companies)

['Amazon', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Facebook', 'IT company']

In [226]:
# Insert an IT company in the middle of the companies list


it_companies.insert(4,'IT company')
print(it_companies)

['Amazon', 'Google', 'Microsoft', 'Apple', 'IT company', 'IBM', 'Oracle', 'Facebook', 'IT company']

In [178]:
print(it_companies)

['Amazon', 'Google', 'Microsoft', 'Apple', 'IT company', 'IBM', 'Oracle', 'Facebook', 'IT company']

In [103]:
# Change one of the it_companies names to uppercase (IBM excluded!)

it_companies = ('Apple'.upper())
print(it_companies)

APPLE

In [136]:
print(it_companies)

['Amazon', 'Google', 'Microsoft', 'Apple', 'IT company', 'IBM', 'Oracle', 'Facebook', 'IT company']

In [137]:
# Slice out the first 3 companies from the list

print(it_companies[0:3])

['Amazon', 'Google', 'Microsoft']

In [138]:
# Slice out the last 3 companies from the list

print(it_companies[-3:])

['Oracle', 'Facebook', 'IT company']

In [151]:
# Slice out the middle IT company or companies from the list

print(it_companies[4])
print(it_companies[3:6])

IT company
['Apple', 'IT company', 'IBM']

In [218]:
# Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
web_dev = front_end + back_end
print(web_dev)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [229]:
print(it_companies)

['Amazon', 'Google', 'Microsoft', 'Apple', 'IT company', 'IBM', 'Oracle', 'Facebook', 'IT company']

In [230]:
# Remove the first IT company from the list

it_companies.remove('Amazon')
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IT company', 'IBM', 'Oracle', 'Facebook', 'IT company']

In [231]:
# Remove the middle IT company or companies from the list

it_companies.pop(3)
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Facebook', 'IT company']

In [232]:
# Remove the last IT company from the list

it_companies.pop(-1)
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Facebook']

In [233]:
# Remove all IT companies from the list

it_companies.clear()
print(it_companies)

[]