In [21]:
# Find the length of the set it_companies

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [22]:
# Add 'Twitter' to it_companies

it_companies.add('Twitter')
print(it_companies)

{'IBM', 'Amazon', 'Apple', 'Google', 'Facebook', 'Twitter', 'Oracle', 'Microsoft'}

In [23]:
# Insert multiple IT companies at once to the set it_companies

it_companies.update(['Samsung' , 'Meta' , 'Sony' , 'Intel'])
print(it_companies)

{'Meta', 'Apple', 'Google', 'Samsung', 'Intel', 'Sony', 'Oracle', 'IBM', 'Amazon', 'Twitter', 'Facebook', 'Microsoft'}

In [24]:
# Remove one of the companies from the set it_companies

it_companies.remove('Intel')
print(it_companies)

{'Meta', 'Apple', 'Google', 'Samsung', 'Sony', 'Oracle', 'IBM', 'Amazon', 'Twitter', 'Facebook', 'Microsoft'}

In [53]:
# Join A and B

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
new_set = A.union(B)
print(new_set)

{19, 20, 22, 24, 25, 26, 27, 28}

In [54]:
# Find A intersection B

A.intersection(B)

{19, 20, 22, 24, 25, 26}

In [55]:
# Is A subset of B
A.issubset(B)

True

In [56]:
# Are A and B disjoint sets

A.isdisjoint(B)

False

In [57]:
# Join A with B and B with A

A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [58]:
B.union(A)

{19, 20, 22, 24, 25, 26, 27, 28}

In [59]:
# What is the symmetric difference between A and B

A.symmetric_difference(B)

{27, 28}

In [60]:
# Delete the sets completely
del A

In [61]:
del B

In [62]:
del new_set

In [72]:
# Convert the ages to a set and compare the length of the list and the set, which one is bigger?

age = [22, 19, 24, 25, 26, 24, 25, 24]
age_st = set(age)
print(age_st)

{19, 22, 24, 25, 26}

In [67]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
len(age)

8

In [73]:
len(age_st)

5