In [5]:
# Create an empty tuple
empty_tpl = ()
print(empty_tpl)

()

In [6]:
# Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
sisters = ('Anna' , 'Eva' , 'Reeva')
brothers = ('Leo' , 'Max' , 'Sid')
print(sisters)
print(brothers)

('Anna', 'Eva', 'Reeva')
('Leo', 'Max', 'Sid')

In [7]:
type(sisters)
type(brothers)

tuple

In [8]:
# Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers
print(siblings)

('Anna', 'Eva', 'Reeva', 'Leo', 'Max', 'Sid')

In [9]:
# How many siblings do you have?
print(len(siblings))

6

In [10]:
# Modify the siblings tuple and add the name of your father and mother and assign it to family_members
# 1st method

add_name = ('Jack' , 'Ava')
print(add_name)

('Jack', 'Ava')

In [11]:
f_members = add_name + siblings 
print(f_members)

('Jack', 'Ava', 'Anna', 'Eva', 'Reeva', 'Leo', 'Max', 'Sid')

In [35]:
# Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers
print(siblings)

('Anna', 'Eva', 'Reeva', 'Leo', 'Max', 'Sid')

In [36]:
# Modify the siblings tuple and add the name of your father and mother and assign it to family_members
# 2nd method
siblings = list(siblings)
print(siblings)

['Anna', 'Eva', 'Reeva', 'Leo', 'Max', 'Sid']

In [37]:
type(siblings)

list

In [38]:
siblings.append('Ava')
siblings.append('Jack')
print(siblings)

['Anna', 'Eva', 'Reeva', 'Leo', 'Max', 'Sid', 'Ava', 'Jack']

In [41]:
siblings = tuple(siblings)
print(siblings)

('Anna', 'Eva', 'Reeva', 'Leo', 'Max', 'Sid', 'Ava', 'Jack')

In [42]:
type(siblings)

tuple

In [43]:
# Unpack siblings and parents from family_members

print(siblings)

('Anna', 'Eva', 'Reeva', 'Leo', 'Max', 'Sid', 'Ava', 'Jack')

In [54]:
(Anna , Eva , Reeva , Leo , Max , Sid , Ava , Jack) = siblings
print(Anna , Eva , Reeva) 
print(Leo , Max , Sid)
print(Ava , Jack)

Anna Eva Reeva
Leo Max Sid
Ava Jack

In [55]:
type(Anna)

str

In [56]:
# Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp

fruits = ('banana', 'orange', 'mango')
vegetables = ('Tomato', 'Potato', 'Cabbage')
animal_products = ('Milk' , 'Eggs' , 'Meat')
food_stuff_tp = fruits + vegetables + animal_products
print(food_stuff_tp)

('banana', 'orange', 'mango', 'Tomato', 'Potato', 'Cabbage', 'Milk', 'Eggs', 'Meat')

In [78]:
print(food_stuff_tp)

('banana', 'orange', 'mango', 'Tomato', 'Potato', 'Cabbage', 'Milk', 'Eggs', 'Meat')

In [58]:
# Change the about food_stuff_tp tuple to a food_stuff_lt list

food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

['banana', 'orange', 'mango', 'Tomato', 'Potato', 'Cabbage', 'Milk', 'Eggs', 'Meat']

In [59]:
type(food_stuff_lt)

list

In [76]:
# Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list

food_stuff_lt[4]

'Potato'

In [77]:
food_stuff_lt[-5]

'Potato'

In [78]:
print(food_stuff_tp)

('banana', 'orange', 'mango', 'Tomato', 'Potato', 'Cabbage', 'Milk', 'Eggs', 'Meat')

In [79]:
food_stuff_tp[4]

'Potato'

In [80]:
food_stuff_tp[-5]

'Potato'

In [84]:
# Slice out the first three items and the last three items from food_staff_lt list

food_stuff_lt[0:3]

['banana', 'orange', 'mango']

In [85]:
food_stuff_lt[5:8]

['Cabbage', 'Milk', 'Eggs']

In [101]:
food_stuff_tp[-9:-6]

('banana', 'orange', 'mango')

In [100]:
food_stuff_tp[-3:]

('Milk', 'Eggs', 'Meat')

In [102]:
# Delete the food_staff_tp tuple completely

del food_stuff_tp

In [103]:
print(food_stuff_tp)

NameError: name 'food_stuff_tp' is not defined

In [104]:
# Check if an item exists in tuple:
# Check if 'Estonia' is a nordic country
# Check if 'Iceland' is a nordic country

nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

In [108]:
# Check if 'Estonia' is a nordic country
'Estonia' in nordic_countries

False

In [107]:
# Check if 'Iceland' is a nordic country
'Iceland' in nordic_countries

True